version: "3.7"
services:
  balena-cli:
    build:
      context: .
      dockerfile: Dockerfile

    user: "ada"
    working_dir: /home/ada

    # ports:
    #   - 5353:5353

    init: true

    volumes:
      - ../balena_cli_configs:/home/ada/.balena
      # - ./ssh-keys:/home/node/.ssh
      # - ./scripts:/home/node/scripts
      # - ./staged-releases:/home/node/staged-releases
      # Update this to wherever you want VS Code to mount the folder of your project
      - ..:/workspace

      # Forwards the local Docker socket to the container.
      - /var/run/docker.sock:/var/run/docker.sock

    # Uncomment the next four lines if you will use a ptrace-based debuggers like C++, Go, and Rust.
    cap_add:
     - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    # command: sleep infinity 
    stdin_open: true
    tty: true

    command: "/bin/bash" 